.icon  {
  height: 25px;
  align-self: center;
}

.active_route {
  background-color: lightgray;
}

.active_route_mobile {
  background-color: lightgray;
  color: black;
}

.try_button_p {
  margin-top: 60px;
}

.try_button {
  border-radius: 15px;
  border: solid 3px #A362BB;
}
