<!DOCTYPE html>
<html>
  <head>
    <title>MediaPortal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

      body, html {
        height: 100%;
        line-height: 1.8;
      }

      /* Full height image header */
      .bgimg-1 {
        background-position: center;
        background-size: cover;
        background-image: url("./assets/laptop.jpg");
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .w3-bar .w3-button {
        padding: 16px;
      }

    </style>
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a [routerLink]="['']" class="w3-bar-item w3-button w3-wide"><img class="icon" src="./assets/icons8-media-96.png"><b> MEDIA-PORTAL</b></a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
          <a [routerLink]="['/login']" routerLinkActive="active_route" class="w3-bar-item w3-button"><i class="fa fa-sign-in"></i> SIGN IN</a>
          <a [routerLink]="['/signup']" routerLinkActive="active_route" class="w3-bar-item w3-button"><i class="fa fa-user"></i> SIGN UP</a>
          <a [routerLink]="['/pricing']" routerLinkActive="active_route" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a>
          <a [routerLink]="['/contact']" routerLinkActive="active_route" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" (click)="open_sidebar()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-right w3-hide-medium w3-hide-large" style="display:none; right:0" id="mySidebar">
      <a href="javascript:void(0)" (click)="close_sidebar()" class="onhover w3-bar-item w3-button w3-large w3-padding-16">close ×</a>
      <a [routerLink]="['/login']" (click)="close_sidebar()" class="w3-bar-item w3-button active_route_mobile">SIGN IN</a>
      <a [routerLink]="['/signup']" (click)="close_sidebar()" class="w3-bar-item w3-button">SIGN UP</a>
      <a [routerLink]="['/pricing']" (click)="close_sidebar()" class="w3-bar-item w3-button">PRICING</a>
      <a [routerLink]="['/contact']" (click)="close_sidebar()" class="w3-bar-item w3-button">CONTACT</a>
    </nav>

    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
      <div class="logindiv">
        <mat-card >
          <mat-card-title>Login</mat-card-title>
          <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <p>
                <mat-form-field>
                  <input matInput type="text" matInput placeholder="Username" formControlName="username">
                </mat-form-field>
              </p>

              <p>
                <mat-form-field>
                  <input matInput type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field>
              </p>

              <p *ngIf="error" class="error">
                {{ error }}
              </p>

              <div class="button">
                <button type="submit" mat-button [disabled]="!loginForm.valid">Login</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </header>
  </body>
</html>
